<label for="preg" class="rem">Peso:</label>
<input type="text" id="preg" name="variable[peso]" value="<%= variable.peso %>"/> <p>
<label for="resp" class="rem">_0:</label>
<input type="text" id="resp" name="variable[_0]" value="<%= variable._0 %>"/> <p>
<label for="resp" class="rem">_30:</label>
<input type="text" id="resp" name="variable[_30]" value="<%= variable._30 %>"/> <p><label for="resp" class="rem">_50:</label>
<input type="text" id="resp" name="variable[_50]" value="<%= variable._50 %>"/> <p><label for="resp" class="rem">_60:</label>
<input type="text" id="resp" name="variable[_60]" value="<%= variable._60 %>"/> <p>
<label for="resp" class="rem">_80:</label>
<input type="text" id="resp" name="variable[_80]" value="<%= variable._80 %>"/> <p><label for="resp" class="rem">_100:</label>
<input type="text" id="resp" name="variable[_100]" value="<%= variable._100 %>"/> <p><label for="resp" class="rem">_120:</label>
<input type="text" id="resp" name="variable[_120]" value="<%= variable._120 %>"/> <p><label for="resp" class="rem">_150:</label>
<input type="text" id="resp" name="variable[_150]" value="<%= variable._150 %>"/> <p>

<br>
<a href="/variables"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">